<aside id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0"
  aria-label="Sidebar">
  <div class="overflow-y-auto py-5 px-3 h-full bg-white border-r border-gray-200">
    <ul class="space-y-2">
      <li>
        <a href="/"
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100 group">
          <app-icon [name]="'home'" 
            class="w-6 h-6 text-gray-400 transition duration-75 group-hover:text-gray-900"
          />
          <span class="ml-3">Home</span>
        </a>
      </li>
      <li>
        <button type="button"
          class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100"
          aria-controls="dropdown-pages" data-collapse-toggle="dropdown-pages">
          <app-icon
            [name]="'file-lines'" 
            class="flex-shrink-0 w-6 h-6 text-gray-400 transition duration-75 group-hover:text-gray-900"
          />
          <span class="flex-1 ml-3 text-left whitespace-nowrap">Finanzas</span>
          <app-icon
            [name]="'chevron-down'"
            class="w-6 h-6"
          />
        </button>
        <ul id="dropdown-pages" class="hidden py-2 space-y-2">
          <li>
            <a href="/finance/payment"
              class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100">Pagos</a>
          </li>
        </ul>
      </li>
      <li>
        <button type="button"
          class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100"
          aria-controls="dropdown-sales" data-collapse-toggle="dropdown-sales">
          <app-icon
            [name]="'shopping-bag'"
            class="flex-shrink-0 w-6 h-6 text-gray-400 transition duration-75 group-hover:text-gray-900"
          />
          <span class="flex-1 ml-3 text-left whitespace-nowrap">Comercial</span>
          <app-icon
            [name]="'chevron-down'"
            class="w-6 h-6"
          />
        </button>
        <ul id="dropdown-sales" class="hidden py-2 space-y-2">
          <li>
            <a href="/comercial/quotation"
              class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100"
            >
              Cotizaciones
            </a>
          </li>
          <li>
            <a href="/comercial/order"
              class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100"
            >
              Compras
            </a>
          </li>
        </ul>
      </li>
      <li>
        <button type="button"
          class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100"
          aria-controls="dropdown-authentication" data-collapse-toggle="dropdown-authentication">
          <app-icon
          [name]="'cog'"
          class="flex-shrink-0 w-6 h-6 text-gray-400 transition duration-75 group-hover:text-gray-900"
          />
          <span class="flex-1 ml-3 text-left whitespace-nowrap">
            Configuración
          </span>
          <app-icon
            [name]="'chevron-down'"
            class="w-6 h-6"
          />
        </button>
        <ul id="dropdown-authentication" class="hidden py-2 space-y-2">
          <li>
            <a href="/configuration/general-type"
              class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100"
            >
              Datos Generales
          </a>
          </li>
          <li>
            <a href="/configuration/product"
              class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100"
            >
              Productos
            </a>
          </li>
          <li>
            <a href="/configuration/supplier"
              class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100"
            >
              Proveedores
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="pt-5 mt-5 space-y-2 border-t border-gray-200">
      <li>
        <a href="#"
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 group">
          <app-icon
            [name]="'report-file'"
            class="flex-shrink-0 w-6 h-6 text-gray-400 transition duration-75 group-hover:text-gray-900"
          />
          <span class="ml-3">Reportes</span>
        </a>
      </li>
      <li>
        <a href="#"
          class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 group">
          <app-icon
            [name]="'life-saver'"
            class="flex-shrink-0 w-6 h-6 text-gray-400 transition duration-75 group-hover:text-gray-900"
          />
          <span class="ml-3">Ayuda</span>
        </a>
      </li>
    </ul>
  </div>
  <div
    class="hidden absolute bottom-0 left-0 justify-center p-4 space-x-4 w-full lg:flex bg-white z-20 border-r border-gray-200">
    <a href="#" data-tooltip-target="tooltip-twitter"
      class="inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100">
      <app-icon [name]="'twitter'" class="w-6 h-6" />
    </a>
    <div id="tooltip-twitter" role="tooltip"
      class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip">
      Twitter
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
    <a href="#" data-tooltip-target="tooltip-facebook"
      class="inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100">
      <app-icon [name]="'facebook'" class="w-6 h-6" />
    </a>
    <div id="tooltip-facebook" role="tooltip"
      class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip">
      Facebook
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
    <a href="#" data-tooltip-target="tooltip-instagram"
      class="inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100">
      <app-icon [name]="'instagram'" class="w-6 h-6" />
    </a>
    <div id="tooltip-instagram" role="tooltip"
      class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip">
      Instagram
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
  </div>
</aside>